<% layout('../layouts/boilerplate') %> 
<link rel="stylesheet" href="/styles/list.css">
    <section class="card-list">
    <h1>My List</h1>
    <ul class="card-ul">
      <% for(let dato of lista2){ %>
        <div>
      <li><a href="/mylists/<%= dato._id%> " class="card-titulo"><%= dato.nombre%></a></li>
      <p><%= dato.descripcion%></p>  
      <nav>
        <a href="/mylists/<%= dato._id%>/edit">Editar</a>
    <form action="/mylists/<%= dato._id%>?_method=DELETE" method="POST">
      <button>Borrar Lista!</button>
    </form>
  </nav>
  </div>
      <% } %>
    </ul>
    <a href="/newList" class="new-list">Crear nueva lista</a>
  </section>
