<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>INFOOOOO</h1>
    <h2><%= lista2.nombre %></h2>
    <p><%= lista2.descripcion %></p>

    <section>
      <h2>Tareas</h2>
      <div class="Urgente">
        <% for(let datos of lista2.tareas){ if(datos.prioridad ==='URGENTE'){%>
        <div>
          <h4><%= datos.nombre%> - <%= datos.prioridad%></h4>
          <p><%= datos.descripcion%></p>
          <form
            action="/mylists/<%= lista2._id%>/<%= datos._id%>?_method=DELETE"
            method="POST"
          >
            <button>Borrar tarea</button>
          </form>
          <a href="/mylists/<%= lista2._id%>/<%= datos._id%>/edittask"
            >editar</a
          >
        </div>
        <% } %> <% } %>
      </div>

      <div class="Por-Hacer">
        <% for(let datos of lista2.tareas){ if(datos.prioridad === 'Por Hacer'){%>
        <div>
          <h4><%= datos.nombre%> - <%= datos.prioridad%></h4>
          <p><%= datos.descripcion%></p>
          <form
            action="/mylists/<%= lista2._id%>/<%= datos._id%>?_method=DELETE"
            method="POST"
          >
            <button>Borrar tarea</button>
          </form>
          <a href="/mylists/<%= lista2._id%>/<%= datos._id%>/edittask"
            >editar</a
          >
        </div>
        <% } %> <% } %>
      </div>

      <div class="Opcional">
        <% for(let datos of lista2.tareas){ if(datos.prioridad ===
        'Opcional'){%>
        <div>
          <h4><%= datos.nombre%> - <%= datos.prioridad%></h4>
          <p><%= datos.descripcion%></p>
          <form
            action="/mylists/<%= lista2._id%>/<%= datos._id%>?_method=DELETE"
            method="POST"
          >
            <button>Borrar tarea</button>
          </form>
          <a href="/mylists/<%= lista2._id%>/<%= datos._id%>/edittask"
            >editar</a
          >
        </div>
        <% } %> <% } %>
      </div>

      <a href="/mylists/<%= lista2._id%>/newtask">Agregar tarea</a>
    </section>

    <form action="/mylists/<%= lista2._id%>?_method=DELETE" method="POST">
      <button>Borrar Lista!</button>
    </form>
    <a href="/mylists/<%= lista2._id%>/edit">Editar</a>
    <br />
    <a href="/mylists">regresar a mis lista</a>
  </body>
</html>
