<% layout('../layouts/boilerplate') %> 
<link rel="stylesheet" href="/styles/edit.css" />
  <section class="edit">
    <a href="/mylists/<%= id%>">&lt; Regresar</a>
    <h2>Crear Nueva Tarea</h2>
    <form action="/mylists/<%= id%>/<%= tarea2._id%>?_method=PUT" method="post" class="edit-form">
      <div>
        <label for="lnombre">Tarea</label>
        <input
          type="text"
          name="dttarea[nombre]"
          id="lnombre"
          required
          placeholder="Nombre de la lista"
          value="<%= tarea2.nombre %>"
        />
      </div>
      <div>
        <label for="ldesc">Descripcion</label>
        <textarea
          name="dttarea[descripcion]"
          id="ldesc"
          cols="30"
          rows="1"
        ><%= tarea2.descripcion%></textarea>
      </div>
      <div>
        <label for="lprio">Prioridad</label>
        <select name="dttarea[prioridad]" id="lprio">
            <% for(let categoria of prio){ %>
                <option value='<%= categoria%>' <%= (tarea2.prioridad === categoria ? 'selected': '')%>><%= categoria%></option> 
                <% } %>  
        </select>
      </div>
      <button>Guardar Cambios</button>
    </form>
  </section>
    
