<% layout('../layouts/boilerplate') %> 
    <a href="/">HOME</a>
    <form action="/mylists/<%= id%>/<%= tarea2._id%>?_method=PUT" method="post">
      <div>
        <label for="lnombre">Tarea</label>
        <input
          type="text"
          name="dttarea[nombre]"
          id="lnombre"
          required
          placeholder="Nombre de la lista"
          value="<%= tarea2.nombre %>"
        />
      </div>
      <div>
        <label for="ldesc">Descripcion</label>
        <br />
        <textarea
          name="dttarea[descripcion]"
          id="ldesc"
          cols="30"
          rows="10"
        ><%= tarea2.descripcion%></textarea>
      </div>
      <div>
        <label for="lprio">Prioridad</label>
        <select name="dttarea[prioridad]" id="lprio">
            <% for(let categoria of prio){ %>
                <option value='<%= categoria%>' <%= (tarea2.prioridad === categoria ? 'selected': '')%>><%= categoria%></option> 
                <% } %>  
        </select>
      </div>
      <button>Guardar Cambios</button>
    </form>
    <a href="/mylists/<%= id%>">Regresar</a>
